[Unit]
Description=aCCumen Junior Barcode Scanner
Requires=network.target
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/local/bin/barcode.bin
KillMode=process
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aCCumen Junior Barcode Scanner

[Install]
WantedBy=multi-user.target
